/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

*{
    font-family: 'Iceberg', sans-serif;
}
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #f0f0f0;
    color: #333;
    font-size: 2em;
    padding: 10px;
    text-align: right;
}

.input {
    background-color: #fff;
    color: #333;
    font-size: 1.5em;
    padding: 10px;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #e0e0e0;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 1.2em;
    padding: 20px 0;
    transition: background-color 0.3s ease;
    outline: none;
    width: 25%;
    box-sizing: border-box;
}

button:hover {
    background-color: #ccc;
}

.button.clear {
    background-color: #ff6347;
    color: #fff;
}

.button.clear:hover {
    background-color: #e05238;
}